/*---------- popup ----------*/
$popup-back: rgba( 54, 70, 85, .63 );
$popup-close-back: #c6c6ce;
/*---------- /popup ---------*/

/*---------- websters-select ----------*/
$websters-select-border: #000;
$websters-select-popup-back: #dee2f0;
$websters-select-popup-item-active-color: #444a57;
$websters-select-popup-item-active-back: #dee2f0;
/*---------- /websters-select ---------*/

/*---------- nice-radio ----------*/
$nice-radio-after-color: #000;
$nice-radio-color: #000;
/*---------- /nice-radio ---------*/

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #a1a1a1;
$nice-checkbox-color: #444a57;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: #ff0;
$btn-back-hover: #ffa;
$btn-back-active: #000;
$btn-color: #000;
$btn-color-active: #ff0;

$btn-2-back: #f00;
$btn-2-back-hover: #f0a;
$btn-2-back-active: #000;
$btn-2-color-active: #f0a;
/*---------- /btn ---------*/